
<h2 class="title">AGREGAR PRODUCTO</h2>

<form id="form" action="" method="post">
    <input type="text" placeholder="title" name="title">
    <input type="text" placeholder="description" name="description">
    <input type="numbre" placeholder="price" name="price">
    <input type="text" placeholder="thumbnail" name="thumbnail">
    <input type="numbre" placeholder="code" name="code">
    <input type="numbre" placeholder="stock" name="stock">
    <input type="text" placeholder="category" name="category">
    <input type="submit" value="cargar">
</form>

<h2 class="title">Productos</h2>
    
<div id="div"></div>




<script src="socket.io/socket.io.js"></script>
   